<%- include("header") -%>

<h1>This is the about page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A repellat at sint, hic omnis quasi aliquam nihil rem quam, soluta fugiat. Reiciendis odit distinctio, cupiditate repellendus libero veritatis quisquam praesentium?</p>
<%- include("footer") -%>